@model ASPMicroSocialPlatform.Models.ApplicationUser

@{
    ViewBag.Title = "User";
}

<h2 class="my-4">@Model.FirstName @Model.LastName</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@(!string.IsNullOrEmpty(Model.ProfilePicture) ? Model.ProfilePicture : Url.Content("~/images/MissingNo.png"))" class="card-img-top" alt="User Image" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%; border: 1px solid #555;">
                <div class="card-body">
                    <h3 class="card-title">@Model.FirstName @Model.LastName</h3>
                    <p class="card-text">@Model.Bio</p>
                    <p class="card-text"><small class="text-muted">@Model.Email</small></p>
                    <a href="@Url.Action("Edit", "Users", new { id = Model.Id })" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

@if(ViewBag.ShowPosts){
    <h3 class="my-4">Posts</h3>
    @foreach (var post in Model.Posts)
    {
        <div class="card my-2">
            <div class="card-body">
                <a href="@Url.Action("Show", "Posts", new { id = post.Id })">
                    @if (post.Image != null)
                    {
                        <img src="@post.Image" class="card-img-top" alt="Post Image" style="width: 200px; height: 200px; object-fit: cover;">
                    }
                    <h5 class="card-title">@Html.Raw(post.Description)</h5>
                    <p class="card-text"><small class="text-muted">@post.Date</small></p>
                </a>
            </div>
        </div>
    }
}
else
{
    <h3 class="my-4">This user's profile is private! Follow them to see their posts.</h3>
}